body{
    background:#0f0f0f;
    color:white;
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    margin-top:60px;
    text-align:center;
}

h1{
    font-size:55px;
    color:#00adb5;
    margin-bottom:10px;
}

.subtitle{
    color:#cccccc;
    font-size:20px;
    margin-bottom:40px;
}

form{
    margin-bottom:30px;
}

input{
    padding:12px;
    background:white;
    border:none;
    border-radius:6px;
    font-size:15px;
}

button{
    padding:12px 22px;
    background:#00adb5;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    margin-top:20px;
    transition:0.3s;
}

button:hover{
    background:#008c93;
}

.success-message{
    color:#00ff99;
    font-size:18px;
    margin-top:20px;
}

.summary-box,
.quiz-box{
    background:#1e1e1e;
    padding:30px;
    border-radius:12px;
    margin-top:30px;
    text-align:left;
    line-height:1.8;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.summary-box h2,
.quiz-box h2{
    color:#00adb5;
    margin-bottom:20px;
}
.chat-box,
.answer-box{
    background:#1e1e1e;
    padding:30px;
    border-radius:12px;
    margin-top:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.chat-box h2,
.answer-box h2{
    color:#00adb5;
}