<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Study Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>📚 AI Study Assistant</h1>

        <p class="subtitle">
            Upload your PDF notes and get instant summary
        </p>

        <form action="/upload" method="POST" enctype="multipart/form-data">

            <input type="file" name="pdf" required>

            <button type="submit">
                Upload PDF
            </button>

        </form>

        {% if message %}

        <p class="success-message">
            {{ message }}
        </p>

        {% endif %}

        {% if summary %}

        <div class="summary-box">

            <h2>Summary</h2>

            <p>{{ summary }}</p>

        </div>

        <form action="/quiz" method="POST">

            <button type="submit">
                Generate Quiz
            </button>

        </form>

        {% endif %}

        {% if questions %}

        <div class="quiz-box">

            <h2>Generated Quiz</h2>

            {% for question in questions %}

            <p>{{ question }}</p>

            {% endfor %}

        </div>

        {% endif %}

        <div class="chat-box">

            <h2>Chat With PDF</h2>

            <form action="/chat" method="POST">

                <input
                    type="text"
                    name="question"
                    placeholder="Ask something from PDF..."
                    required
                >

                <button type="submit">
                    Ask
                </button>

            </form>

        </div>

        {% if answer %}

        <div class="answer-box">

            <h2>Answer</h2>

            <p>{{ answer }}</p>

        </div>

        {% endif %}

    </div>

</body>

</html>